{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center custom-heading">Your Current Watch List</h2>
    <div class="table-responsive">
        <table class="table table-striped text-center custom-table" style="direction: ltr;">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                    <th>Notice Price</th>
                    <th>Last Price</th>
                    <th>Last Desired Price</th>
                    <th>Notice Email</th>
                </tr>
            </thead>
            <tbody class="custom-tbody">
                {% for product in products %}
                <tr>
                    
                    <td>{{product.title}}</td>
                    <td><a href="{{ product.url }}" class="btn btn-primary">Open Link</a></td>
                    <td>{{product.notice_price}}</td>
                    <td>{{product.last_price}}</td>
                    <td>{{product.last_lowest_price}}</td>
                    <td>{{product.email_address}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'watcher:add' %}" class="btn btn-secondary">Add New Product To Watch List</a>
    </div><br><br>
    
</div>
{% endblock %}